/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

/* GLOBAL RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root
{
    --body-bgcolor : rgb(109, 26, 26);
    --ctrpanel-bgcolor : #FFFFFF;
    --logo-bgcolor : #FFFFFF;
    --header-botbordercolor : #FFFFFF;
    --burgerlines-bgcolor : #FFFFFF;
    --control-btn-bgcolor : #FFFFFF;
    --control-btn-fontcolor : rgb(109, 26, 26);

    --ctrpanel-btn-bgcolor : rgb(109, 26, 26);
    --ctrpanel-btn-fontcolor : #FFFFFF;
    --themepanel-bgcolor : #FFFFFF;
    --themepanel-fontcolor : rgb(109, 26, 26);
    --themepanel-bordercolor : #FFFFFF;
    --logo-fontcolor : #FFFFFF;
    --new-fontcolor : #FFFFFF;
    --general-font : "Signika", serif;
    --book-outline : #FFFFFF;
    --plus-bordercolor : #FFFFFF ;
}

.light-mode
{
    --body-bgcolor : #FFFFFF;
    --book-outline : rgb(109, 26, 26);
    --ctrpanel-bgcolor : rgb(109, 26, 26);
    --logo-bgcolor : rgb(109, 26, 26);
    --burgerlines-bgcolor : rgb(109, 26, 26);
    --header-botbordercolor : rgb(109, 26, 26);

    --control-btn-bgcolor : #FFFFFF;
    --control-btn-fontcolor : rgb(109, 26, 26);
    --themepanel-bgcolor : #FFFFFF;
    --themepanel-fontcolor : rgb(109, 26, 26);
    --themepanel-bordercolor : rgb(109, 26, 26);
    --ctrpanel-btn-bgcolor : #FFFFFF;
    --ctrpanel-btn-fontcolor : rgb(109, 26, 26);
    --new-fontcolor : rgb(109, 26, 26);
    --logo-fontcolor : rgb(109, 26, 26);
    --plus-bordercolor : rgb(109, 26, 26) ;
    
    --general-font : "Signika", serif;
}
/* ANIMATIONS */

@keyframes slidePanelIN
{
    0%
    {
        transform: translateY(-400px);
    }

    100%
    {
        transform: translateY(0);
    }
}

@keyframes slidePanelBACK
{
    0%
    {
        transform: translateY(0);
    }

    100%
    {
        transform: translateY(-400px);
    }
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes goUp
{
    0%
    {
        transform: translateY(40px);
    }

    100%
    {
        transform: translateY(0);
    }
}

.slidePanelIN
{
    animation: slidePanelIN ease-in-out 700ms forwards;
}

.slidePanelBACK
{
    animation: slidePanelBACK ease-in-out 700ms forwards;
}
/* HTML + BODY */
html
{
    height: 100%;
}

body
{
    min-height: 100%;
    width: 100%;
    background-color: var(--body-bgcolor);
    position: relative;
    overflow-y: scroll;
}

body.blur::before
{
    content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
      backdrop-filter: blur(15px); /* Apply the blur */
      -webkit-backdrop-filter: blur(15px); /* For Safari */
      z-index: 1;
}

/* STLYING */
header
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--header-botbordercolor);
}

header > .logo
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo > svg
{
    fill: var(--logo-bgcolor);
}

header > .logo h1
{
    font-family: var(--general-font);
    color: var(--logo-fontcolor);
}

header > .control,
.control-panel
{
    display: flex;
    align-items: center;
    gap:40px;
}

.control > .add,
.control > .themes,
.control-panel > .add,
.control-panel > .themes{
    width: 100px;
    height: 50px;
    background-color: var(--control-btn-bgcolor);
    color: var(--control-btn-fontcolor);
    font-family: var(--general-font);
    display: flex;
    border-radius: .75rem;
    align-items: center;
    justify-content: center;
    gap:18px;
    padding: 0px 12px 0px 12px;
    box-shadow: 5px 5px 0px 0px black , inset 0px 0px 0px 0px grey;
    overflow: visible;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.control > .add:hover,
.control > .themes:hover,
.control-panel > .add:hover,
.control-panel > .themes:hover
{
    box-shadow: 5px 5px 0px 0px black , inset 0px 0px 10px 0px rgba(128, 128, 128, 0.438);

}

.control-panel > .add:active,
.control-panel > .themes:active,
.control > .add:active,
.control > .themes:active{

    box-shadow: 3px 3px 0px 0px black;
}

.control-panel > .add,
.control-panel > .themes{
    background-color: var(--ctrpanel-btn-bgcolor);
    color: var(--ctrpanel-btn-fontcolor);
}
.control > .menu
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu > .line
{
    width: 80%;
    height: 4px;
    border-radius: 3px;
    background-color: var(--burgerlines-bgcolor);
}

.control-panel
{
    background-color: var(--ctrpanel-bgcolor);
    padding: 20px;
    border-right: 2px solid var(--header-botbordercolor);
    position: fixed;
    width: 100%;
    top: 0;
    transform: translateY(-400px);
}

.control-panel > img
{
    margin-left: auto;
}


main
{
    width: 100%;
    overflow: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit , 300px);
    grid-template-rows: repeat(auto-fit , 400px);
    grid-auto-flow: row;
    grid-auto-rows: 400px;
    gap: 24px;
}

main > .book
{
    background-color: white;
    border-radius: .55rem;
    border: 5px solid rgb(192, 139, 89);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    justify-items: center;
    font-family: var(--general-font);
}

.book > .body
{
    display: flex;
    gap: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.body > .title > p
{
    font-size: 23px;
}

.book > .footer
{
    border-top: 5px solid rgb(192, 139, 89);
    width: 100%;
    padding: 10px 10px 0px 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer > button
{
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: .45rem;
    font-family: var(--general-font);
    transition: all ease-in-out 400ms;
    cursor: pointer;
}


.footer > button:hover
{
    background-color: rgb(192, 139, 89);
    color: #FFFFFF;
    
}

main > .add{
    --bgcolor : transparent;
    background-color: var(--bgcolor);
    border-radius: .9rem;
    border: 5px solid var(--book-outline);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: var(--general-font);
    cursor: pointer;
    transition: all ease-in 400ms;
}

main > .add:hover{
    transform: scale(1.03);
}


main > .add > .plus
{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid var(--plus-bordercolor);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main > .add:hover .plus{
    animation: rotate 500ms ease-in-out forwards;
}

.plus > .x
{
    width: 5px;
    height: 70%;
    background-color: var(--plus-bordercolor);
    border-radius: .55rem;
    position: absolute;
}

.plus > .y
{
    width: 70%;
    height: 5px;
    border-radius: .55rem;
    background-color: var(--plus-bordercolor);

}

main > .add > p
{
    
    color: var(--new-fontcolor);
    font-size: 20px;
}

form
{
    font-family: var(--general-font);
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
}

form > .header
{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(109, 26, 26);
}

.value
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
}



.value > input:required + span
{
    position: absolute;
    right: 0;
    transform: translateY(40px);
    transition: all ease-in 400ms;
}

.value > input:required:focus + span
{
    display: block;
    animation: goUp ease-in-out 300ms forwards;
}

.value > label,
.checkbox > label
{
    font-weight: 600;
}

.value > input
{
    height: 40px;
    border-radius: .75rem;
    border: 3px solid rgb(109, 26, 26);
    padding: 10px;
    font-size: 20px;
    font-family: var(--general-font);
    z-index: 5;
}

form > .checkbox
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons-container
{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.buttons-container > button
{
    --bordercolor : rgb(109, 26, 26);
    width: 100px;
    height: 100%;
    border-radius: .35rem;
    background-color: transparent;
    border: 3px solid var(--bordercolor);
    box-shadow: 4px 4px 0px 0px black;
    transition: all ease-in-out 500ms;
    font-family: var(--general-font);
    cursor: pointer;
}

.buttons-container > button[id="cancelButton"]:hover
{
    background-color: rgb(231, 82, 82);
}

.buttons-container > button:active
{
    box-shadow: 2px 2px 0px 0px black;
}

.theme-panel
{
    position: absolute;
    top: 100px;
    color: var(--themepanel-fontcolor);
    border-radius: .85rem;
    border: 3px solid var(--themepanel-bordercolor);
    background-color: var(--themepanel-bgcolor);
    width: 100px;
    height: 130px;
    padding: 10px;
    display: none;
    
}

.theme-panel > ul 
{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.theme-panel > ul > li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: .25rem;
}

.active-theme
{
    background-color: rgb(214, 206, 206);
    box-shadow: 0px 0px 20px 0px rgba(46, 45, 45, 0.219);
}


/* MEDIA QUERIES */
@media (max-width: 455px)
{

    .control > div:not(.menu)
    {
        display: none;
    }

    .control > .menu
    {
        display: flex;
    }

    .control-panel
    {
        gap: 20px;
    }

    main
    {
        grid-template-columns: 1fr;
    }

    form
    {
        width: 90%;
    }
}